/* アコーディオンコンテンツ */
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
  }
  
  .accordion-content.open {
    max-height: 800px;
    opacity: 1;
  }
  .page-title {
    text-align: center;
  }

  .video-container {
    max-width: 900px;
    margin: 0 auto;
  }
  .video-title {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .watched-icon {
    color: green;
    position: absolute;
    top: -18px;
    right: 0;
    font-size: 12px;
  }
  .video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  video {
    max-width: 100%;
    height: auto;
  }
  
  /* モーダル関連のCSS */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: #fff;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .quiz-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .progress-bar-container {
    margin-top: 10px;
    height: 20px;
    width: 80%;
    background-color: #ddd;
  }
  
  .progress-bar {
    height: 100%;
    background-color: green;
}
